JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=7d
PORT=3000
mongodb_url=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password_here
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
